# Azure OpenAI - Home page under any project
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=

# Azure Chat model 
AZURE_OPENAI_DEPLOYMENT=gpt-4o

AZURE_OPENAI_API_VERSION=2024-12-01-preview
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-ada-002
# Azure AI Search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_KEY=
AZURE_SEARCH_INDEX=

# Application Settings
APP_ENV=development
LOG_LEVEL=INFO
TOP_K_DEFAULT=5
SIMILARITY_THRESHOLD=0.72
